@import "variabls";
/*  -------------------------------- Responsive Style CSS--------------------------------  */

@media (min-width: 576px) {
  .site-header .form-inline .form-control {
    width: 300px;
  }
}


/*
*
* ==============================================
* Small devices (landscape phones, 568px and up)
* ==============================================
*
*/
@media #{$sm-layout} {

  .navbar-expand-lg .navbar-nav {
    margin: 0;
    overflow-x: scroll;
    height: 300px;
  }

  /*
  *
  * ==========================================
  * header End
  * ==========================================
  *
  */

}

@media #{$min-v-layout} {
  .hero-banner__img {
    display: block;
  }
  .hero-banner__mobile-img {
    display: none;
  }



}

/*
*
* =============================================================
* small devices (portrait & landscape phones , less than 767px)
* =============================================================
*
*/

@media #{$xs-layout} {

  h1 {
    font-size: 34px;
    line-height: 1.2;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  figure {
    margin: 30px 0;
  }
  section h2.section-title, section .section-title {
    font-size: 32px;
    line-height: 1.2;
  }

address {
  margin: 0 0 30px;
}

/*
*
* ==========================================
* element style
* ==========================================
*
*/
  .site-main {
    padding-top: 130px;
  }
 .right-nfo{
    display: none;
  }
  .custom-logo-link {
    max-width: 230px;
  }
  .header-top {
    padding: 0;
  }
  .navbar {
    padding: 10px 0;
  }
  .has-search{
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
   .form-control{
     width: 100%;
   }
  }

  .has-search .form-control-feedback {
    line-height: 3.375rem;
  }
  .site-header__transparent_enable .navbar-expand-lg .navbar-nav .nav-link {
     color: $black;
  }
  .navbar-fixed .navbar-expand-lg .navbar-nav .nav-link{
    border-right: 0;
  }
  /*
  *
  * ==========================================
  * header End
  * ==========================================
  *
  */

  .hero-slider_content {
    bottom: calc(40% - 89px);
    left: 15px;
  }
  /*
  *
  * ==========================================
  * #hero-banner style end
  * ==========================================
  *
  */

  .promo-video .video-link {
    top: 25%;
  }


  .feature-video{
    .video-link {
      top: 20%;
    }
    .play-btn svg{
      width: 80px;
    }
  }

  .inner-page-wrapper{
    padding: 100px 0;
  }
  .about-sidebar{
    padding: 30px 0;
  }

  .sidebar {
    padding: 20px 0px 20px 0;
  }
  /*
  *
  * ==========================================
  * #about-area end
  * ==========================================
  *
  */

  .contact-form {
    padding: 20px;
    border: 1px solid #707070;
    margin-bottom: 30px;
  }
  .print-btn{
    top: 45px;
  }
  /*
  *
  * ==========================================
  * #contact area end
  * ==========================================
  *
  */

.video-category-item{
 .video-link {
    top: 40%;
  }
}

  .footer-area{
    text-align: center;
    .input-group{
      width: 35%;
      margin: 0 auto;
    }
    address{
      max-width: 203px;
      margin: 0 auto;
    }
  }

  .agent-item{
    .agent-item__name{
      font-size: $font-24;
    }
    .agent-item__designation{
      font-size: $font-24;
    }
    .agent-item__card-number{
      font-size: $font-24;
    }
  }

}


/*
*
* ======================================================
* Extra small devices (portrait phones, less than 480px)
* ======================================================
*
*/

@media #{$xss-layout} {
  .text-sm-center {
    text-align: center !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }


  /*
  *
  * ==========================================
  * #helper class end
  * ==========================================
  *
  */


  .footer-area .input-group {
    width: 64%;
    margin: 0 auto;
  }

}


/*
*
* ==========================================
* Medium devices (tablets, 768px and up)
* ==========================================
*
*/

@media #{$md-layout} {
  h2, .h2{
    font-size: 32px;
    line-height: 1.2;
  }
  .site-main {
    padding-top: 130px;
  }
  section h2.section-title, section .section-title{
    line-height: 1.2;
  }
  .navbar {
    padding: 10px 30px;
  }
  .navbar-expand-lg .navbar-nav {
    margin: 0;
    overflow-x: scroll;
  }
  .custom-logo-link {
    max-width: 200px;
  }
  .header-top {
    padding: 0;
  }
  .navbar {
    padding: 10px 0;
  }
  .navbar-fixed .navbar-expand-lg .navbar-nav .nav-link{
    border-right: 0;
  }
  .has-search{
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    .form-control{
      width: 100%;
    }
  }
  /*
  *
  * ==========================================
  * header End
  * ==========================================
  *
  */

  .hero-slider_content {
    bottom: calc(40% - 48px);
  }

  .promo-video .video-link {
    top: 25%;
  }
  .promo-video .play-btn svg{
    width: 80px;
  }

  .inner-page-wrapper{
    padding: 100px 0;
  }
  .about-sidebar{
    padding: 30px 0;
  }
  .read-item .read-item__icon {
    width: 200px;
    height: 200px;
    svg{
      width: 90px;
      height: 90px;
    }
  }
  .read-item .read-item__time {
    font-size: 20px;
  }
  #about_tab li > a {
    padding: 15px 20px 15px 0px;
    font-size: 15px;
  }
  .read-item .title {
    font-size: 20px;
  }

  .tab-list li > a {
    padding: 15px 30px 15px 0px;
  }

  .publication-item-wrapper{
    padding: 20px;
  }

  .agent-item{
    .agent-item__name{
      font-size: $font-24;
    }
    .agent-item__designation{
      font-size: $font-24;
    }
    .agent-item__card-number{
      font-size: $font-24;
    }
  }

}

/*
*
* ==========================================
* Large devices (desktops, 992px and up)
* ==========================================
*
*/

@media #{$lg-layout} {
  h3, .h3 {
    font-size: 17px;
    line-height: 1;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
  }
  .service-item .service-item--caption {
    padding: 25px;
  }
  .promo-video .video-link {
      top: 30%;
    }
  .promo-video .play-btn svg{
      width: 80px;
    }

}

/*
*
* ==========================================
* Extra large devices (large desktops, 1200px and up)
* ==========================================
*
*/

@media #{$xl-layout} {


}

/*
*
* ==========================================
* Double Extra large devices (large desktops, 1367px and up)
* ==========================================
*
*/

@media #{$xx-layout} {


}